/* line 1, ../sass/style.scss */
body {
  background: #323232;
  color: #323232;
  text-transform: uppercase;
}

/* line 7, ../sass/style.scss */
.gridster li {
  list-style: none;
}

/* line 11, ../sass/style.scss */
.red {
  background: grey;
}

/* line 15, ../sass/style.scss */
.blue {
  background: grey;
}
